<!DOCTYPE html>
<html>
  <head>
    <title>Salary Prediction</title>
  </head>
  <body>
    <h1>2.Multi Linear Salary Prediction</h1>
    <form action="/predict_multi_linear" method="post">
      <label>Years of Experience:</label>
      <input type="number" name="experience", placeholder="Enter Experience | Eg: 2" />
      <br />
      <label>Test Score:</label>
      <input type="number" name="test_score", placeholder="Enter Test Score | Eg: 9" />
      <br />
      <label>Interview Score:</label>
      <input type="number" name="interview_score", placeholder="Interview Score | Eg: 6" />
      <br />
      <input type="submit" value="Predict Salary" />
    </form>
    <br><br>
    <a href="/">Home Page</a>
  </body>
</html>
